---
export interface Props {
    titulo: string;
    imagen: string;
    tecnologias: string[];
    demo: string;
    codigo: string;
}

const { titulo, imagen, tecnologias, demo } = Astro.props;
---

<a
    href={demo}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex w-full max-w-md mx-auto flex-col overflow-hidden rounded-xl bg-gray-900 border border-none transition-all hover:scale-[1.02] drop-shadow-[4px_4px_0_#7836cf] cursor-pointer"
>
    <img
        src={imagen}
        alt={`Proyecto: ${titulo}`}
        class="h-52 p-3 w-full object-cover rounded-2xl"
    />

    <div class="flex flex-col grow p-3">
        <h3
            class="text-lg font-semibold mb-2 text-white drop-shadow-[1px_1px_0_#7836cf]"
        >
            {titulo}
        </h3>

        <div class="flex flex-wrap gap-2">
            {
                tecnologias.map((tech) => (
                    <span class="rounded-md bg-[#7836cf]/20 text-[#a27ed1] px-2 py-0.5 text-xs font-semibold">
                        {tech}
                    </span>
                ))
            }
        </div>
    </div>
</a>
